.switch-theme {
  margin: 0 auto;
  position: absolute;
    left: 47vw;
    top: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8f909496;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "EN";
  padding: 7px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: #b8e7d5;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

input:checked+.slider {
  background-color: #8f909496;
}

input:focus+.slider {
  box-shadow: 0 0 1px #e1eef1;
}

input:checked+.slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  content: "RU";
  background: #d8e9b1;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}